BEST_PRACTICE/*
BEST_PRACTICE
*.fa
*.fasta
*.tsv
*.csv
best_practice_datasets/*
best_practice_datasets
*.sh
*.jpg
.Rhistory
*.bed
*.Rmd
.DS_Store
*.html
*.ipynb
*.docx
*.xlsx
.idea
*.pyc
*__pycache__*
*.txt
*.ai
.ipynb_checkpoints/
*.pdb
*.pse
*.mov
*.png
*.svg
*.zip
*.pdf
*.pptx
*.cif
.Rproj.user
CpDAAapp
CpDAAapp/*
EMBO_submissions_standards/*
EMBO_submissions_standards
FIGURES_ILLUSTRATOR/*
FIGURES_ILLUSTRATOR
mapping_proj_notes/*
mapping_proj_notes
RMD_JNB_MAKING_FIGURES/*
RMD_JNB_MAKING_FIGURES
