*.sh
*.jpg
.Rhistory
*.bed
*.Rmd
.DS_Store
*.html
*.ipynb
*.docx
*.xlsx
.idea
*.pyc
*__pycache__*
*.txt
*.ai
.ipynb_checkpoints/
*.pdb
*.pse
*.mov
*.png
*.svg
*.zip
*.pdf
*.pptx
*.cif
.Rproj.user
EMBO_resubmission/*
EMBO_resubmission
CpDAAapp
CpDAAapp/*
RMD_JNB/*
RMD_JNB
