HTML_before_CLEANUP/*
data/*
app_versions/*
www/*
install/*
scratchPlot.R
plotlyIdeas.R
app.R
CpDAAapp.Rproj
*.Rmd
uibackup.R
MESSY_CODE/*
README_MARKDOWNS/*
.DS_Store
README_WITH_HTML.md
*.html
*.ipynb
*.docx
PANEL_2/*
old_version_paper_section_writing/*
HTML_before_CLEANUP/*
*.xlsx
.idea
*.pyc
*__pycache__*
*.tsv
*.fa
*.txt
*.ai
*.csv
.ipynb_checkpoints/
*.pdb
*.pse
*.fasta
*.mov
*.png
*.svg
*.zip
*.pdf
*.pptx
*.cif
.Rproj.user
